/*------------------------------------*/
#ANIMATIONS
/*------------------------------------*/

/*------------------------------------*/
  #TESTIMONIALS
/*------------------------------------*/

#testimonials {
  > blockquote {
    animation-name: FadeInOut;
    animation-duration: 16s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  /* Just do the link I dont understand the math */
  @keyframes FadeInOut {
    0% {
      /*  always */
      opacity: 1;
    }
    18.75% {
      /*  3/16*100 */
      opacity: 1;
    }
    25% {
      /*  (3+1)/16*100 = 1/4*100 */
      opacity: 0;
    }
    93.75% {
      /*  100-(1/16*100) */
      opacity: 0;
    }
    100% {
      /*  always */
      opacity: 1;
    }
  }

  #quotes > blockquote:nth-of-type(1) {
    animation-delay: 12s;
  }
  #quotes > blockquote:nth-of-type(2) {
    animation-delay: 8s;
  }
  #quotes > blockquote:nth-of-type(3) {
    animation-delay: 4s;
  }
  #quotes > blockquote:nth-of-type(4) {
    animation-delay: 0s;
  }
}
