/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

button,
.button {
  background: var(--priest-dull);
  color: var(--mercury);
  font-size: var(--silberhorn);
  border: none; // browser rest
  padding-block: 1rem;
  padding-inline: var(--inline-spacing);
  border-radius: var(--roll);
  transition: var(--general-timing);
}

button:hover,
.button:hover {
  background: var(--priest-dark);
}

button:focus,
.button:focus {
  background-color: var(--priest-pitch);
  border: none; // a reset
}

/*------------------*/
//  HOLLOW
/*------------------*/

.button.hollow {
  background-color: transparent;
  border-color: var(--priest-dull);
  color: var(--priest-dull);
  // font-weight: bold;
  background-color: transparent;
  border: 2px solid var(--priest-dull);
  color: var(--priest-dull);
  transition: 0.5s ease;
  clip-path: polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);

  @media (prefers-color-scheme: dark) {
    color: var(--priest-blue);
    border-color: var(--priest-blue);
  }
}

.button.hollow:hover {
  background: var(--silver);
  color: var(--priest-dark);
  border-color: var(--priest-dull);
}

/*------------------*/
//  MORE
/*------------------*/

.tasks__more {
  background: var(--silver);
  clip-path: polygon(0.5rem 0, 100% 0, calc(100% - 0.5rem) 100%, 0 100%);
  padding: 0.25rem 1.5rem;
}

.summit__contact .button {
  border-radius: 0; // reset
  clip-path: var(--horizontal-clipper);
  padding-inline: 2rem;
}
