/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

button,
.button {
  background: transparent;
  color: var(--mercury);
  font-size: var(--silberhorn);
  border: none; /*  browser rest */
  padding: 0;
  padding-inline: var(--inline-spacing);
  transition: var(--general-timing);
  cursor: pointer;
  display: grid;
  /* this works on firefox */
  width: fit-content;
  margin-block-end: 1rem;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  .background {
    transition: var(--general-timing);
    background: var(--priest-dull);
    padding-block: 1rem;
    /* deg, rad, grad, turn */
    transform: skew(-10deg); /* match robotto italic */
    font-style: italic;
    margin-inline-end: 0.5rem;
    place-self: stretch;
    z-index: var(--floor);
  }

  .foreground {
    z-index: var(--understory);
    font-style: italic;
    color: var(--mercury);
    font-size: var(--silberhorn);
    padding-block: 1rem;
    padding-inline-start: var(--inline-spacing);
    padding-inline-end: calc(var(--inline-spacing) * 2); /* weird fix */
    background-color: var(--priest-dull); /* fix a11y contrast that shouldnt be a problem */
    clip-path: polygon(0.75rem 0, 100% 0, calc(100% - 0.75rem) 100%, 0 100%);
  }
}

button:hover,
.button:hover {
  .background {
    background-color: var(--priest-dark);
    box-shadow: var(--troposphere);
  }

  .foreground {
    background-color: var(--priest-dark);
  }
}

button:focus,
.button:focus {
  .background {
    background-color: var(--priest-pitch);
    box-shadow: var(--stratosphere);
  }

  .foreground {
    background-color: var(--priest-pitch);
  }
}

/*------------------------------------*/
  /* #button_eyebrow */
/*------------------------------------*/

.button_eyebrow {
  .supra {
    margin-inline-start: 1rem;
    margin-block-end: 0.25rem;
  }
}

/*------------------*/
/*   MORE */
/*------------------*/

.tasks__more {
  background: var(--silver);
  clip-path: polygon(0.5rem 0, 100% 0, calc(100% - 0.5rem) 100%, 0 100%);
  padding: 0.25rem 1.5rem;
}

.summit__contact .button {
  border-radius: 0; /*  reset */
  clip-path: var(--horizontal-clipper);
  padding-inline: 2rem;
}

/*------------------------------------*/
  /* #LAYERED_BUTTON */
/*------------------------------------*/

.layered_button {
  display: grid;
  
  /* dont use these it breaks safari */
  /* @supports (width: fit-content) {
    width: fit-content;
  }

  @supports (width: -moz-fit-content) {
    width: -moz-fit-content;
  } */

  /* yes this works on firefox */
  width: fit-content;

  text-decoration: none; /* reset */
  margin-block-end: 1rem;

  > * {
    /* grid-row: 1; */
    grid-column: 1;
  }

  .background,
  .word {
    grid-row: 2;
  }

  button {
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
  }

  .background {
    transition: var(--general-timing);
    background: var(--priest-dull);
    padding-block: 1rem;
    /* deg, rad, grad, turn */
    transform: skew(-10deg); /* match robotto italic */
    border-radius: 0;
    font-style: italic;
    margin-inline-end: 0.5rem;
  }

  .word {
    background-color: var(--priest-dull);
    z-index: var(--understory);
    font-family: var(--body-font-family);
    font-style: italic;
    color: var(--mercury);
    font-size: var(--silberhorn);
    margin-block: 1rem;
    margin-inline-start: var(--inline-spacing);
    margin-inline-end: calc(var(--inline-spacing) * 2); /* weird fix */
    background-color: var(--priest-dull); /* a11y fix even tho its over */
  }

  .supra {
    grid-row: 1;
    margin-block-end: 0.75rem;
  }
}

.layered_button:hover .background {
  background: var(--priest-dark);
  box-shadow: var(--troposphere);
}
