// I believe the only place we are currently using buttons
// is opening and closing menus

button {
  border: none; // browser rest
  // padding-block: calc(var(--block-spacing) - 0.125rem);
  padding-block: 1.03125rem;
  padding-inline: var(--inline-spacing);
  background: $secondary-color;
  color: var(--white);
  font-size: var(--h5-fs);
  // total height 1.1875rem + (2 * 1.625rem) = 5.125rem
  // should be 4.875rem = 0.25rem / 2 = 0.125rem
  // 5.125 - 4.875

  // is it possible to get to 3.25rem
  // 3.25 - 1.1875 = 2.0625 / 2 = 1.03125rem
}

button:hover {
  background: hsl(
    var(--secondary-color-b),
    calc(var(--secondary-color-l) - 10%)
  );
}

// why us this so different? only use once can I get rid of it?
.button {
  display: inline-block; // 📣
  padding: 0.85em 1em;
  // font-family: $major-font-family;
  // font-weight: bold;
  // text-transform: uppercase;
  letter-spacing: 1px;
}
// where are the hover styles?

.button.hollow {
  // font-weight: bold;
  background-color: transparent;
  border: 2px solid $secondary-color;
  color: $secondary-color;
  transition: 0.5s ease;
  clip-path: polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);

  @media (prefers-color-scheme: dark) {
    color: var(--priest-blue);
    border-color: var(--priest-blue);
  }
}

.button.hollow:hover {
  background: var(--silver);
  color: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 20%));
  border-color: hsl(
    var(--secondary-color-b),
    calc(var(--secondary-color-l) - 20%)
  );
}

.tasks__more {
  background: var(--silver);
  // border: 2px solid var(--secondary-color);
  clip-path: polygon(0.5rem 0, 100% 0, calc(100% - 0.5rem) 100%, 0 100%);
  padding: 0.25rem 1.5rem;
}
