/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

button {
  background: var(--priest-dull);
  color: var(--mercury);
}

.hollow {
  background-color: transparent;
  border-color: var(--priest-dull);
  color: var(--priest-dull);
}

// I believe the only place we are currently using buttons
// is opening and closing menus

button {
  border: none; // browser rest
  // padding-block: calc(var(--block-spacing) - 0.125rem);
  padding-block: 1.03125rem;
  padding-inline: var(--inline-spacing);
  background: var(--priest-dull);
  color: var(--mercury);
  font-size: var(--h5-fs);
}

button:hover {
  background: var(--priest-dark);
}

// why us this so different? only use once can I get rid of it?
.button {
  display: inline-block; //
  padding-block: var(--block-spacing);
  padding-inline: var(--inline-spacing);
  letter-spacing: 1px;
  transition: var(--general-timing);
  border-radius: var(--roll);
}

.button:where(:hover, :focus) {
  background-color: var(--mercury);
}

.button.hollow {
  // font-weight: bold;
  background-color: transparent;
  border: 2px solid var(--priest-dull);
  color: var(--priest-dull);
  transition: 0.5s ease;
  clip-path: polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);

  @media (prefers-color-scheme: dark) {
    color: var(--priest-blue);
    border-color: var(--priest-blue);
  }
}

.button.hollow:hover {
  background: var(--silver);
  color: var(--priest-dark);
  border-color: var(--priest-dull);
}

.tasks__more {
  background: var(--silver);
  clip-path: polygon(0.5rem 0, 100% 0, calc(100% - 0.5rem) 100%, 0 100%);
  padding: 0.25rem 1.5rem;
}

// needs a firefox fix
button:has(img) {
  padding: 0.1rem;
}
