/*------------------------------------*\
  #COLORS
\*------------------------------------*/

// GLOBAL TEXT COLOR

body {
  background: var(--mercury);
  color: var(--lead);
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--lead);
    color: var(--mercury);
  }
}

/*------------------*/
//  #TESTIMONIALS
/*------------------*/

#testimonials {
  background: var(--mercury);

  @media (prefers-color-scheme: dark) {
    background: var(--lead);
  }

  svg {
    fill: var(--priest-blue);
  }

  blockquote {
    background: var(--silver);

    @media (prefers-color-scheme: dark) {
      background: var(--lead);
      color: var(--mercury);
    }

    footer {
      background: var(--silver); // reset priests styles
      color: var(--lead);

      @media (prefers-color-scheme: dark) {
        background: var(--lead);
        color: var(--mercury);
      }
    }
  }
}

.hr-aluminium {
  border-block-end: 1px soild var(--aluminium);
}

/*------------------*/
//  #TOPBAR
/*------------------*/

.top-bar {
  background-color: var(--priest-light);
  color: var(--lead);
}
