/*------------------------------------*\
  #COLORS
\*------------------------------------*/

// GLOBAL TEXT COLOR

body {
  background: var(--white);
  color: var(--black);
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--black);
    color: var(--white);
  }
}
