/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer__wrapper {
  background-color: var(--priest-blue);
  clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0 100%);
  padding-block-start: 1rem;
}

footer {
  background: var(--secondary-color);
  color: var(--white);
  // border-top: 0.5rem solid var(--priest-blue);
  align-self: end;
  margin-block-end: 0; // browser reset
  font-weight: 600;
  clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0 100%);
  padding-block-start: 1rem;

  svg {
    fill: var(--white);
  }

  a {
    color: var(--white);
    text-decoration: underline;
    transition: var(--general-timing);
  }

  a:where(:hover, :focus) {
    background: hsl(
      var(--secondary-color-b),
      calc(var(--secondary-color-l) - 20%)
    );
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    max-width: var(--pelican);
    margin-inline: auto;
    padding: 1rem 1rem 3rem;
    justify-content: flex-start;
    gap: 1rem;

    > li {
      flex: 1 1;
      white-space: nowrap;
      max-width: max-content;

      a {
        padding: 0.5rem 1rem;
      }
    }
  }

  // cross this is as clean as I can get it so far
  .cross__wrapper {
    .cross__hr {
      border-color: var(--white);
    }
    .cross__divider {
      border-color: var(--white);
      background: var(--secondary-color);
    }
  }
}

.footer-lists {
  @media (max-width: $stork) {
    padding: 0 !important; // overwrites :is(.backed, .backed__svg svg) {
    // normally it should have the padding but at this size its small enough its not needed
    // cant be a # as its needed twice
  }
}

.footer__contacts {
  a,
  .no-link {
    display: flex; // TODO: this needs to become a grid
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    transition: 0.5s ease;
    font-weight: 600;
    text-align: center;

    svg {
      max-width: 3rem;
    }

    p {
      margin-block-end: 0;
    }
  }

  svg {
    grid-column: 1;
    grid-row: 1;
    align-self: center;

    @media (min-width: $albatross) {
      justify-self: end;
    }
  }

  p {
    grid-column: 1;
    grid-row: 2;
    align-self: center;

    @media (min-width: $albatross) {
      grid-column: 2;
      grid-row: 1;
      justify-self: start;
    }
  }
}

.footer__logo {
  // max-width: 50%;
  margin-inline: auto;

  svg {
    display: block;
    margin-inline: auto;
    width: calc(100% - 2rem);
    min-width: 5rem;
    max-width: 10rem;
    margin-block-end: var(--block-spacing);

    @media (min-width: $stork) {
      margin-block-end: 3rem;
    }
  }
}

.footer__copyright {
  text-align: center;
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: var(block-spacing);
  width: 100%;

  @media (min-width: $stork) {
    margin-block-end: 3rem;
  }

  p {
    margin-block-start: var(--inline-spacing);

    @media (min-width: $stork) {
      margin-block-end: 0;
    }
  }
}
