/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer__wrapper {
  background-color: var(--priest-blue);
  clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0 100%);
  padding-block-start: 1rem;
}

footer {
  background: var(--priest-dull);
  color: var(--mercury);
  /*  border-top: 0.5rem solid var(--priest-blue); */
  align-self: end;
  margin-block-end: 0; /*  browser reset */
  font-weight: var(--cruiserweight);
  clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0 100%);
  padding-block-start: 1rem;

  svg {
    fill: var(--mercury);
  }

  a {
    color: var(--mercury);
    text-decoration: underline;
    transition: var(--general-timing);
  }

  a:where(:hover, :focus) {
    background: var(--priest-dark);
  }

  ul {
    display: flex;
    flex-flow: column;
    max-width: var(--pelican);
    margin-inline: auto;
    padding: 1rem 1rem 3rem;
    justify-content: flex-start;
    gap: 1rem;

    @media (min-width: 30rem) {
      flex-flow: row wrap;
    }

    > li {
      flex: 1 1;
      white-space: nowrap;
      max-width: max-content;

      a {
        padding: 0.5rem 1rem;
      }
    }
  }

  /*  cross this is as clean as I can get it so far */
  .cross__wrapper {
    .cross__hr {
      border-color: var(--mercury);
    }
    .cross__divider {
      border-color: var(--mercury);
      background: var(--priest-dull);
    }
  }
}

.footer-lists {
  @media (max-width: $stork) {
    padding: 0 !important; /*  overwrites :is(.backed, .backed__svg svg) { */
    /*  normally it should have the padding but at this size its small enough its not needed */
    /*  cant be a # as its needed twice */
  }
}

.footer__contacts {
  a,
  .no-link {
    display: flex; /*  TODO: this needs to become a grid */
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 1rem;
    transition: 0.5s ease;
    font-weight: var(--cruiserweight);

    @media (min-width: 30rem) {
      flex-direction: column;
      text-align: center;
    }

    svg {
      max-width: 3rem;
    }

    p {
      margin-block-end: 0;
    }
  }

  svg {
    grid-column: 1;
    grid-row: 1;
    align-self: center;

    @media (min-width: 80rem) {
      justify-self: end;
    }
  }

  p {
    grid-column: 1;
    grid-row: 2;
    align-self: center;

    @media (min-width: 80rem) {
      grid-column: 2;
      grid-row: 1;
      justify-self: start;
    }
  }
}

.footer__logo {
  /*  max-width: 50%; */
  margin-inline: auto;

  svg {
    display: block;
    margin-inline: auto;
    width: calc(100% - 2rem);
    min-width: 5rem;
    max-width: 10rem;
    margin-block-end: var(--block-spacing);

    @media (min-width: 40rem) {
      margin-block-end: 3rem;
    }
  }
}

.footer__copyright {
  text-align: center;
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: var(block-spacing);
  width: 100%;

  @media (min-width: 40rem) {
    margin-block-end: 3rem;
  }

  p {
    margin-block-start: var(--inline-spacing);

    @media (min-width: 40rem) {
      margin-block-end: 0;
    }
  }
}
