/*------------------------------------*/
//  #GALLERY
/*------------------------------------*/

// specifically not used as its on the gallery page we are not using anymore

.gallerygallery {
  margin: 1rem;
  width: 100%;

  @media (min-width: $stork) {
    width: calc(50% - 2rem);
  }

  @media (min-width: $albatross) {
    width: calc(33% - 2rem);
  }

  li {
    // display: flex;
    padding-bottom: 1rem;
    max-height: 100%;
  }
}
