/*------------------*/
//  #HEADER
/*------------------*/

.summit__contact {
  grid-row: 5;
  grid-column: 1/4;
  margin-bottom: $global-margin * 2;
  max-width: 86rem; // TODO: guess and check so the angled box sit the same as the
  margin-inline: auto;

  @media (min-width: $breakpoint__medium) {
    grid-row: 4;
    grid-column: 1/6;
    margin-block-end: calc(var(--global-margin) * 4);
  }

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  > * {
    grid-row: 1;
    background-color: var(--white);
    padding-block: 1.5rem;
    padding-inline: 2.5rem;
    clip-path: polygon(2rem 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
    display: grid;
    place-items: center;
    text-align: center;
  }
}

/*------------------*/
//  #HEADER CONTACT
/*------------------*/

.header__contact--wrap {
  background-color: var(--mercury);
  margin-block-start: -2rem;
  padding-block: 3rem;
  clip-path: polygon(0 2rem, 100% 0, 100% calc(100% - 2rem), 0 100%);
}

.header__contact {
  max-width: $page-width;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  > * {
    padding-inline: 2rem;
    text-align: center;
  }
}
