/*------------------*/
/*   #HEADER */
/*------------------*/

/*------------------*/
/*   #HEADER CONTACT */
/*------------------*/

.header__contact--wrap {
  margin-block-start: -2rem;
  padding-block: 3rem;
  clip-path: polygon(0 2rem, 100% 0, 100% calc(100% - 2rem), 0 100%);
  background-color: var(--mercury);

  @media (prefers-color-scheme: dark) {
    background-color: var(--lead);
  }
}

.header__contact {
  max-width: $albatross;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  > * {
    padding-inline: 2rem;
    font-size: var(--silberhorn);
    margin-block-end: 0; /*  reset to use the flex gap */
    text-align: center;

    a {
      text-decoration: none;
    }
  }
}

#header-contact-background {
  margin-block-end: 3.25rem;
  padding-block-start: 1.625rem;
  padding-block-end: 3.25rem;
  padding-inline: 1rem;
  background: var(--mercury);
  /*  z-index: -1; // this cant be here or it breaks links */
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2rem), 0 100%);

  @media (min-width: 40rem) {
    margin-block-end: 4.875rem;
  }

  @media (prefers-color-scheme: dark) {
    background: var(--lead);
  }
}

.header-contact {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--block-spacing);
  column-gap: var(--line-spacing);

  @media (min-width: 80rem) {
    flex-flow: row wrap;
  }

  svg {
    max-width: 2rem;
    fill: var(--priest-blue);
  }

  h3 {
    margin-top: 0; /*  reset from type scale as we already have a break but sort this our */
    text-align: center;
    font-size: clamp(var(--h6-fs), 1.5vm, var(--h4-fs));
  }
}
