/*------------------------------------*\
  #HERO
\*------------------------------------*/

.hero {
  // @extend .bg-primary; // this isnt working
  // background: var(--secondary-color); // TODO was needed for wide menu
  // can be moved to the new way
  background-color: var(--mercury);
  display: flex;
  flex-direction: column;

  h1 {
    // TODO: variables
    font-size: 1.728rem; // try even further down at an h3
    line-height: 1.35rem; // guess and check select some text to check its right

    @media (min-width: $stork) {
      font-size: 2.074rem; // h2 halfway back up
    }

    @media (min-width: $albatross) {
      font-size: 2.448rem; // return to normal
    }
  }

  h2 {
    font-size: 1.728rem;
    line-height: 1.33rem; // guess and check select some text to check its right

    @media (min-width: $stork) {
      font-size: 2.074rem;
    }
  }

  > .hero__logo {
    background: var(--priest-blue);
    padding-block-end: 0.5rem;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2rem), 0 100%);

    display: grid;
    place-items: center;

    z-index: 2; // sliding logo
    position: relative; // needed for z-index

    > a {
      display: inline-block;
      margin-block: -0.5rem;

      width: 100%;
      max-width: 30rem;

      > svg {
        max-width: 30rem;
        fill: var(--white);
        transition: var(--general-transition);
      } // svg
    } // a

    a:hover svg {
      fill: var(--mercury);
    } // a:hover svg
  } // .hero__logo
}

.hero__logo a:hover {
  border-color: var(--mercury);
}
