/*------------------------------------*\
  #HERO
\*------------------------------------*/

.hero {
  background-color: var(--mercury);
  display: flex;
  flex-direction: column;
  z-index: var(--understory);

  @media (prefers-color-scheme: dark) {
    background-color: var(--lead);
  }

  h1 {
    /*  TODO: variables */
    font-size: 1.728rem; /*  try even further down at an h3 */
    line-height: 1.35rem; /*  guess and check select some text to check its right */

    @media (min-width: 40rem) {
      font-size: 2.074rem; /*  h2 halfway back up */
    }

    @media (min-width: 80rem) {
      font-size: 2.448rem; /*  return to normal */
    }
  }

  h2 {
    font-size: 1.728rem;
    line-height: 1.33rem; /*  guess and check select some text to check its right */

    @media (min-width: 40rem) {
      font-size: 2.074rem;
    }
  }

  > .hero__logo {
    background: var(--priest-blue);
    padding-block-end: 0.5rem;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2rem), 0 100%);

    display: grid;
    place-items: center;

    z-index: var(--canopy); /*  sliding logo */
    position: relative; /*  needed for z-index */

    > a {
      display: inline-block;
      margin-block: -0.5rem;

      width: 100%;
      max-width: 30rem;

      > svg {
        max-width: 30rem;
        fill: var(--mercury);
        transition: var(--general-transition);
        width: calc(100% - 2rem);
        margin-inline: auto;
        display: block;
      } /*  svg */
    } /*  a */

    a:hover svg {
      fill: var(--mercury);
    } /*  a:hover svg */
  } /*  .hero__logo */
}

.hero__logo a:hover {
  border-color: var(--mercury);
}
