/*------------------------------------*\
    #PRIEST
\*------------------------------------*/

// 🚨 30th March 2021 running through the sheets as a lot seems pretty messy

// 🚨 what issue?
/* Medium Up screens - fixes header issue
@media only screen and (min-width: 40.063em) {
  .full {
    width: 100%;
  }
} */

/*------------------------------------*\
  #ABSTRACTS
\*------------------------------------*/
@import "variables";
@import "colors";
@import "typography";
/*------------------------------------*\
#BASE
\*------------------------------------*/
@import "body";
@import "links";
@import "lists";
@import "buttons";
@import "media";
@import "text";
@import "hr";
/*------------------------------------*\
    #BACKGROUNDS
\*------------------------------------*/
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
@import "hero";
@import "page";
@import "footer";
/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
@import "molecules";
@import "visibillity";

/*------------------------------------*\
  #Reset
\*------------------------------------*/

figure {
  margin: 0; // browser reset
}

img {
  display: block; // browser reset from inline-block
}

/*------------------------------------*/
//  #MAIN
/*------------------------------------*/

/* main {
  max-width: 100vw; // I think this always has nested things controlling?
} */

/*------------------------------------*\
  #Backgrounds
\*------------------------------------*/

.shadow {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: var(--shadow);
}

.shadow-darker {
  box-shadow: var(--shadow__shape) rgba(var(--shadow__rgb), 0.32), 0 2px 10px 0 rgba(var(--shadow__rgb), 0.24);
}

/* 
I think this is now out of use but check it
.attachment-post-thumbnail {
  box-shadow: var(--shadow), 0 2px 10px 0 rgba(var(----shadow__rgb), 0.12);
} */

.menu-primary-container {
  display: none; // this is breaking the footer
  
  @media (min-width: $header-menu-size) {
    // never wrap
    display: block;
  }
}

.menu-primary-container > ul > li > a {
  border-bottom: 5px solid var(--secondary-color); // invisibile until hovered
  padding-inline: 1.5rem;
}

.menu-primary-container > ul > li:last-child > a {
  border-color: hsl(197, 100%, 16.5%);
  border-color: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 10%));
}

.menu-primary-container > ul > li > a:hover {
  color: var(--light-gray);
  background: darken($secondary-color, 10%);
  border-bottom: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 10%));
  clip-path: var(--trapezoid-1);
}

// needs specificity
#menu-primary-container__showcase > a {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 15%));
  border-bottom: 5px solid hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 26.5%));
  clip-path: var(--trapezoid-1);
  padding-inline: 1.5rem;
}

:is(#menu-primary-container__showcase) a:hover, a:focus {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 25%));
  border-bottom: 5px solid hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 26.5%));
}

/*------------------------------------*\
  #Layout
\*------------------------------------*/

#header-contact-background {
  margin-bottom: $global-margin * 2;
  padding: $global-padding * 2 $global-padding 0 $global-padding;
  // no bottom due to the contact boxes changing alignment is easier to have the bottom margin there
  background: $light-gray;
  z-index: -1;
  position: relative;
  
  @media (prefers-color-scheme: dark) {
    background: var(--blackish);
  }
}

.header-contact {
  // max-width: 89.9em;
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint__large) {
    flex-flow: row wrap;
  }

  h3 {
    margin-top: 0; // reset from type scale as we already have a break but sort this our
    text-align: center;
    font-size: clamp(var(--h6-fs), var(--h5-fs), var(--h4-fs));
  }
}

.together {
  // display: inline-block;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

// 📣 bad old naming
.wp-block-media-text {
  display: grid;

  grid-gap: 2rem;
  margin-bottom: 1rem;

  @media (min-width: $breakpoint__medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.wp-block-media-text__media {
  @media (min-width: $breakpoint__medium) {
    grid-row: 1;
    grid-column: 2;
  }
}

.summit__contact--service {
  // margin: 0 $global-margin $global-margin $global-margin;
  margin: $global-margin;
  display: grid;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  > a {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    background: $secondary-color;
    background: linear-gradient(
      184deg,
      rgba(30, 141, 183, 1) 0%,
      rgba(0, 96, 135, 1) 50%
    ); // gradient has to be from 50% to get a pass on wave.webaim.org
    // 5/23/21 the firefox wave plugin was calling an error on any text over a gradient background
    z-index: 1; // above the background
    display: flex;
    flex-direction: row;
    color: $white;
    clip-path: polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
  }

  a:hover {
    background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 10%));
  }
}

.summit__contact--icon {
  padding: $global-padding;
  justify-self: end;

  svg {
    fill: $white;
  }
}

.summit__contact--text {
  // align-self: center; // can't do this to get a block
  padding: $global-padding;
  display: flex;
  align-items: center;
}
