/*------------------------------------*\
    #LISTS
\*------------------------------------*/

ul {
  list-style: none; // browser reset
}

/*------------------*/
//  #SMALL MENUs
/*------------------*/

.small_menu--opener,
.small_menu--icon {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
}

.small_menu--icon {
  justify-self: end;
  margin-right: var(--global-margin);
  transition: 2s ease; // the slide in on load is kinda nice but maybe overkill
  cursor: pointer; // match the link
  display: grid;
}

.small_menu--opener {
  width: 100%;
  cursor: pointer;
  transition: 1s ease;
  margin-block: 0; // safari fix
}

.small_menu--opener:hover {
  color: var(--mercury);
  background: hsl(
    var(--secondary-color-b),
    calc(var(--secondary-color-l) - 10%)
  );
}

.small_menu--icon span {
  transition: 0.5s ease; // the slide in on load is kinda nice but maybe overkill
}

.small_menu--icon-topline,
.small_menu--icon-bottomline {
  width: 1rem;
  height: 0.25rem;
  background: var(--white);
  display: block;
  transform: rotate(0deg);
  top: 0;
  position: relative;
}

.small_menu--icon-bottomline {
  margin-top: 0.5rem;
}

/*------------------------------------*/
//  #larger menu
/*------------------------------------*/

.menu__wrapper {
  background-color: var(--secondary-color);
  padding-block: 2rem;
  margin-block-start: -2rem;
  z-index: 222;
  clip-path: polygon(0 2rem, 100% 0, 100% calc(100% - 2rem), 0 100%);
}

#menu__big {
  font-size: clamp(1rem, 4vw, 1.2rem);
  letter-spacing: 0.1rem;
  font-family: var(--major-font-family);
  display: none;
  z-index: 10;

  @media (min-width: $pelican) {
    display: block;
    width: 100%;
    max-width: var(--page-width);
    margin-inline: auto;
  }

  a {
    padding-inline: 2rem;
  }

  svg {
    max-height: 1.65rem; // line height of the text
    max-width: 3rem; // safari needs this
  }
} // .menu-primary-container

/*------------------------------------*/
//  #HOVER MENU
/*------------------------------------*/

.menu__hover {
  transform: translate3d(0, -100%, 0);
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  max-width: var(--page-width);
  z-index: -1;
  left: 0;
  background: var(--secondary-color);
  clip-path: polygon(1em 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
  font-size: 1rem;
  transition: transform 1s ease;

  a {
    border-radius: 0; // backed somewhere up the line
    background: hsl(
      var(--secondary-color-b),
      calc(var(--secondary-color-l) - 2.5%)
    ) !important;
    border-bottom: 5px solid
      hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 5%)) !important;
    margin: 0.25rem;
  }

  a:hover {
    background: hsl(
      var(--secondary-color-b),
      calc(var(--secondary-color-l) - 12.5%)
    ) !important;
    border-bottom: 5px solid
      hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 15%)) !important;
  }
}

.menu__over:hover ~ .menu__hover,
.menu__hover:hover {
  transform: translate3d(0, 0, 0);
}

// this is kinda manual but it works
.menu__hover--multiline {
  transition: transform 1s ease;
  clip-path: polygon(2em 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
}

/*------------------------------------*/
//  #menu more
/*------------------------------------*/

.more-button {
  padding: 1rem;
  z-index: 2;
  position: relative;
  clip-path: polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
}

.menu__more {
  // height: 0;
  position: relative;
  transition: 1s ease;
  z-index: 0;
  margin-block: 1rem;
  margin-inline-start: -100%; // guess and check

  > li > a {
    margin-block: 1rem;
  }
}

// this is set inline so it doesnt work here
/* .menu__big--more:hover .menu__more {
  margin-top: 0;
} */

/*------------------------------------*/
//  #SIMPLE
/*------------------------------------*/

.row {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% - 2rem);
  max-width: var(--page-width);
  margin-inline: auto;
  padding-inline-start: 0;
  line-height: 3rem;
  gap: 1rem;

  > * {
    padding-inline-start: 0;
  }
}

/*------------------------------------*/
//  #OL
/*------------------------------------*/

// https://stackoverflow.com/questions/4098195/can-ordered-list-produce-result-that-looks-like-1-1-1-2-1-3-instead-of-just-1
// this is working on tables to get the alignment "correct"
// so I don't love it but it works

.terms {
  ol,
  ul,
  li {
    // use both to deal with the borders
    margin-block-end: 0.25rem;
    padding-block-end: 0.25rem;
  }

  h2 {
    font-size: 1.44rem; // h4
  }

  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
  max-width: 45rem;
  // margin-inline: auto;

  > li {
    display: table;
    counter-increment: item;
    margin-block-end: 2rem;
    padding-block-start: 1rem;
    border-block-start: 1px solid var(--priest-blue);
  }

  > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    color: var(--iron);

    @media (prefers-color-scheme: dark) {
      color: var(--magnesium);
    }

    padding-inline-end: 0.25rem;

    @media (min-width: $albatross) {
      padding-inline-end: 0.5rem;
    }
  }

  > li > ul {
    counter-reset: item;
    list-style-type: none;
    color: var(--iron);

    @media (prefers-color-scheme: dark) {
      color: var(--magnesium);
    }

    margin-block-start: 0.5rem;
    padding-inline-start: 0.25rem;

    @media (min-width: $albatross) {
      margin-block-start: 0.25rem;
    }
  }

  > li > ol {
    counter-reset: item;
    list-style: none;
    padding-block-start: 0.5rem;
    padding-inline-start: 0.25rem;

    @media (min-width: $albatross) {
      padding-inline-start: 0.5rem;
    }
  }

  > li > ol > li {
    margin: 0;
    margin-block-start: 0.5rem;
    counter-increment: item;
    display: table;
    border-block-end: 1px solid var(--magnesium);

    @media (prefers-color-scheme: dark) {
      border-color: var(--iron);
    }
  }

  > li > ol > li:last-child {
    border: none;
  }

  > li > ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 1rem;
    color: var(--iron);

    @media (prefers-color-scheme: dark) {
      color: var(--magnesium);
    }
  }

  > li > ol > li > ul {
    padding-block-start: 0.5rem;
    padding-inline-start: 1.5rem;

    @media (min-width: $albatross) {
      padding-inline-start: 0.5rem;
    }
  }
}

.ol__alpha {
  padding-inline-start: 1.5rem;

  > li {
    counter-increment: letter !important;
    display: table;
    border-block-end: 1px solid var(--silver);

    @media (prefers-color-scheme: dark) {
      border-color: var(--tungsten);
    }
  }

  li:last-child {
    border: none;
  }

  > li:before {
    content: "(" counter(letter, lower-alpha) ") " !important;
    padding-right: 1rem;
    display: table-cell;
  }
}

/*------------------------------------*/
//  #Breadcrumbs
/*------------------------------------*/

.breadcrumbs ol {
  list-style: none;
  margin-block-start: 3rem;
  width: calc(100% - 2rem);
  max-width: var(--page-width);
  margin-inline: auto;
  display: flex;
  flex-flow: row wrap;
  gap: 0.8rem;

  a {
    text-decoration: none;
  }

  * {
    margin-block-end: 0;
  }

  // TODO: add a real chevron
  .chevron {
    color: var(--nickel);
  }

  .current {
    color: var(--iron);
    background-color: transparent;
  }
}

.breadcrumbs__contact {
  margin-block-start: 1rem;
}
