/*------------------------------------*/
//  #MENU
/*------------------------------------*/

.menu {
  max-width: --header-menu-size;
  margin-inline: auto;
  margin-block: 0;
  justify-content: center;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  // place-items: flex-end;
  place-items: space-between;
  gap: 0.5rem;
  white-space: nowrap; // don't let lines break
  // background: var(--secondary-color);
}

.menu li {
  > a {
    padding: var(--global-padding); // lets start setting a vertical rythm
    display: flex; // the only one using this is with the icon but it doesnt hurt the rest
    place-items: flex-end;
    gap: 0.5rem;
  }

  svg {
    min-width: 1rem; // safari and edge need a width
    max-height: 2.4rem; // guess and check

    fill: var(--white);
    margin-inline-end: 0.25rem;
  }

  // can I do something with is to get the svg and display it as a flex?
}

/*------------------------------------*/
//  #small menu
/*------------------------------------*/

#menu_small {
  width: 100%;
  background: hsl(
    var(--secondary-color-b),
    calc(var(--secondary-color-l) - 15%)
  );

  position: relative;
  z-index: 1; // check its above the gallery on the front page
  margin-bottom: 0;

  > ul {
    padding-left: 0; // browser reset
    margin: 0;

    > li {
      list-style: none;
      // margin-left: 0;
      padding-inline: 0.5rem;

      > a {
        display: flex;
        place-items: center; // vertical align
        justify-content: center;
        gap: 0.5rem;
        text-decoration: none;
        border-bottom: 1px solid var(--secondary-color);
        padding-block: 0.5rem;

        > svg {
          max-width: 2rem; // guess and check
          max-height: 2rem; // guess and check
          fill: currentColor;
        } // svg
      } // a

      > a:hover {
        background: var(--secondary-color);
        color: var(--white);
        clip-path: polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
      }
    } // li
  } // ul

  @media (min-width: $header-menu-size) {
    display: none;
  }
} // #menu_small
// TODO: inception only 3 deep

.active {
  height: 100%;
  transition: top 2s ease; // sliding menu
}

.inactive {
  transition: top 2s ease; // sliding menu
}

.firstload {
  // this just gets removed
  opacity: 0;
  height: 0; // this is needed but breaks all the things
}
