/*------------------*/
//  #SHADOWS
/*------------------*/

.troposphere {
  box-shadow: var(--troposphere);
}

.stratosphere {
  box-shadow: var(--stratosphere);
}

.mesosphere {
  box-shadow: var(--mesosphere);
}
