.seo-showcase {
  z-index: 4;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: white;
  padding: 1rem;
  opacity: 0.9;
  border-radius: 1rem;
  font-family: monospace;
  width: calc(100% - 4rem);

  > * {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }
}
