/*------------------*/
/*   #Tables */
/*------------------*/

.material-list {
  ul {
    padding: 0; /*  reset */
  }

  .table {
    text-align: center;
    margin-block-end: 3rem;
    max-width: max-content;

    @media (min-width: 70rem) {
      margin-inline: auto;
    }

    ul {
      margin-block-end: 0; /*  reset */
    }

    .reference {
      @media (max-width: 70rem) {
        display: none;
      }

      display: block;
      padding-inline-start: 0; /*  reset */
      margin-inline-start: 8.5rem; /*  * all 6 have to line up */
      width: max-content;

      display: flex;

      > * {
        width: 2rem;
        border-inline-end: 1px solid gray;
        padding-inline: 0.2rem;
      }

      > *:last-child {
        border-inline-end: none;
      }
    }

    .data {
      margin: 0;
      padding: 0;
      width: max-content;

      @media (max-width: 70rem) {
        margin-inline-start: 8.5rem; /*  * all 6 have to line up */
      }

      > li {
        width: max-content;
      }

      > li:first-child {
        text-align: start;
        height: 2rem;
        box-sizing: border-box;
        width: 8.5rem; /*  * all 6 have to line up */

        @media (max-width: 70rem) {
          margin-inline-start: -8.5rem; /*  * all 6 have to line up */
        }

        @media (min-width: 70rem) {
          border-inline-end: 1px solid gray;
          margin-block-start: -2rem;
        }
      }

      > li:nth-child(2) {
        @media (min-width: 70rem) {
          border-block-start: 1px solid gray;
        }
      }

      > li:last-child {
        .third li {
          border-block-end: none;
        }
      }
    }

    .third {
      display: flex;
      flex-flow: row wrap;

      @media (max-width: 70rem) {
        max-width: calc(100vw - 2rem);
        max-width: calc(100vw - 10.5rem);
        margin-block-end: 0.5rem;
        > * {
          width: 3rem;
        }
      }

      @media (min-width: 70rem) {
        > * {
          width: 2rem;
          border-inline-end: 1px solid gray;
          border-block-end: 1px solid gray;
          padding-inline: 0.2rem;
        }
      }

      > *:last-child {
        border-inline-end: none;
      }

      /*  these are all the stats */
      li:first-child {
        box-sizing: border-box;
        text-align: start;
        width: 8.5rem; /*  * all 6 have to line up */

        @media (max-width: 70rem) {
          margin-inline-start: -8.5rem; /*  * all 6 have to line up */
          padding-inline-end: 0.5rem;
          border-block-end: 1px solid gray;
        }

        @media (min-width: 70rem) {
          text-align: end;
        }
      }
    }

    .no {
      @media (max-width: 70rem) {
        display: none;
      }
    }

    .spinner {
      @media (max-width: 70rem) {
        .tick {
          display: none;
        }

        .key {
          border-block-end: 1px solid gray; /*  ! test */
          padding-inline: 0.2rem;
        }
      }

      color: var(--priest-dull);

      div {
        overflow: hidden;
        display: flex;
        flex-direction: column;

        @media (min-width: 70rem) {
          height: 2rem;
        }

        span {
          transition: all 0.3s ease-in-out;
          text-align: center;
          line-height: 2rem;
        }
      }
    }

    @media (min-width: 70rem) {
      .spinner:hover {
        span {
          transform: translateY(-100%);
        }
      }
    }
  }
}
