/*------------------------------------*\
    #TEXT
\*------------------------------------*/

.centered {
  text-align: center;
}

.albatross {
  // min-width: (calc(100% - 2rem), var(--albatross));
  width: min(calc(100% - 2rem), var(--albatross));
  margin-inline: auto;
}
