/*------------------------------------*\
    #TEXT
\*------------------------------------*/

.centered {
  text-align: center;
}

.page-width {
  // min-width: (calc(100% - 2rem), var(--page-width));
  width: min(calc(100% - 2rem), var(--albatross));
  margin-inline: auto;
}
