/*------------------------------------*\
  #Base Typography
\*------------------------------------*/

body {
  line-height: 1.5;
  font-family: var(--body-font-family);
  font-size: 16px;
}

/*  TITLES */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--major-font-family);
  font-weight: var(--welterweight);
  margin-block-start: 0; /*  reset */
  margin-block-end: 1lh;
}

h1,
.aoraki {
  font-size: var(--aoraki);
  /*  TODO: margin-block-end firefox */
}

h2,
.tasman {
  font-size: var(--tasman);
  /*  TODO: margin-block-end firefox */
}

h3,
.dampier {
  font-size: var(--dampier);
  /*  TODO: margin-block-end firefox */
}

h4,
.vancouver {
  font-size: var(--vancouver);
  /*  TODO: margin-block-end firefox */
}

h5,
.silberhorn {
  font-size: var(--silberhorn);
  /*  TODO: margin-block-end firefox */
}

h6,
.malte_brun {
  font-size: var(--malte_brun);
  /*  TODO: margin-block-end firefox */
}

small,
.hicks {
  font-size: var(--hicks);
  /*  TODO: margin-block-end firefox */
}

.page-title {
  font-size: clamp(var(--dampier), 1.5vw, var(--aoraki));
}

.text-center {
  text-align: center;
}

/*  PARAGRAPHS */

p {
  line-height: 1.6;
  margin-block-start: 0; /*  browser reset */
  margin-block-end: 1lh;
  /*  https://caniuse.com/mdn-css_types_length_lh */
  @supports not (margin: 1lh) {
    margin-block-end: 1.6rem;
  }
}

address {
  font-style: normal;
  margin-block-end: 1lh;
  @supports not (margin: 1lh) {
    margin-block-end: 1.6rem;
  }
}

/*------------------------------------*/
  /* #SINGLES */
/*------------------------------------*/

.major-font-family {
  font-family: var(--major-font-family);
}

.flyweight {
  font-weight: 200;
}

/*------------------*/
/*   #EYEBROW */
/*------------------*/

hgroup {
  .eyebrow {
    font-size: var(--silberhorn);
    font-family: var(--body-font-family);
  }

  .supra {
    font-size: var(--tasman);
    font-family: var(--major-font-family);
  }
}

/*------------------------------------*/
  /* .BANNER */
/*------------------------------------*/

.banner {
  display: block;
  .spec {
    font-family: var(--major-font-family);
  }
}

/*------------------*/
/*   #TESTIMONIALS */
/*------------------*/

#testimonials {
  p {
    font-size: var(--vancouver);
  }

  p::before,
  p::after {
    content: "“"; /*  left quote */
  }
}

/*------------------------------------*/
  /* #SUMMIT */
/*------------------------------------*/

#summit {
  h1 {
    font-size: var(--tasman);
    font-family: var(--body-font-family);
    font-weight: var(--flyweight);
  }

  .banner {
    text-decoration: none;
    margin-block-end: 1.5rem;
    width: max-content;

    .spec {
      font-size: var(--aoraki);
      font-size: 6rem;
      display: block;
      border-block-end: 1px solid var(--priest-dull);
    }

    .story {
      font-size: var(--tasman);
    }
  }
}

