/*------------------*/
//  #VARIABLES
/*------------------*/

:root {
  /*------------------*/
  //  #TYPOGRAPHY
  /*------------------*/

  // FONTS
  --body-font-family: "Open Sans", sans-serif;
  --major-font-family: "Roboto Slab", serif;

  // SIZING
  // https://en.wikipedia.org/wiki/List_of_mountains_of_New_Zealand_by_height
  --aoraki: 2.488rem;
  --tasman: 2.074rem;
  --dampier: 1.728rem;
  --vancouver: 1.44rem;
  --silberhorn: 1.2rem;
  --malte_brun: 1rem;
  --hicks: 0.833rem;

  /*------------------------------------*/
  //  #COLORS
  /*------------------------------------*/

  --priest-blue: hsl(195.8, 72.6%, 42.9%); // #1e93bd
  --priest-blue-hs: 195.8, 72.6%;
  --priest-blue-l: 42.9%;
  // --priest-blue: hsl(var(--priest-blue-hs), var(--priest-blue-l));

  // TODO: remove this and use it as a variable
  --secondary-color: hsl(197.3, 100%, 26.5%); // #006087
  --secondary-color-b: 197.3, 100%;
  --secondary-color-l: 26.5%;

  --priest-blend: linear-gradient(
    184deg,
    rgba(30, 141, 183, 1) 0%,
    rgba(0, 96, 135, 1) 50%
  );
  // gradient has to be from 50% to get a pass on wave.webaim.org

  // NEUTRALS
  --black: hsl(0, 0%, 4%);
  --white: hsl(0, 0%, 96%);

  /* apple pencils */
  --lead: hsl(0, 0%, 10%);
  --tungsten: hsl(0, 0%, 20%);
  --iron: hsl(0, 0%, 30%);
  --steel: hsl(0, 0%, 40%);
  --nickel: hsl(0, 0%, 50%);
  --aluminium: hsl(0, 0%, 60%);
  --magnesium: hsl(0, 0%, 70%);
  --silver: hsl(0, 0%, 80%);
  --mercury: hsl(0, 0%, 90%);

  /*------------------------------------*/
  //  #SPACING
  /*------------------------------------*/

  // TODO: theres a new variable for this
  --block-spacing: 1.625rem; // 26px baseline grid
  // if this is top and bottom its 3.25rem // 52px
  --inline-spacing: 0.8125rem; // half the baselines on the widths

  /*------------------------------------*/
  //  #TIMING
  /*------------------------------------*/

  --general-timing: 0.5s ease;

  /*------------------*/
  //  #SHADOWS
  /*------------------*/

  --mesosphere: 0 5px 12px hsla(0, 0%, 0%, 0.4),
    0 18px 32px hsla(0, 0%, 0%, 0.16);
  --stratosphere: 0 2px 3px hsla(0, 0%, 0%, 0.12),
    0 3px 6px hsla(0, 0%, 0%, 0.14);
  --troposphere: 0 2px 3px hsla(0, 0%, 0%, 0.12),
    0 3px 6px hsla(0, 0%, 0%, 0.14);

  /*------------------------------------*/
  //  #LAYOUT
  /*------------------------------------*/

  --general-measure: 30rem;
  --header-menu-size: 70rem;
  --page-width: 77rem;

  // BREAKPOINTS
  --swan: 20rem;
  --vulture: 30rem;
  --stork: 40rem;
  --condor: 50rem;
  --pelican: 60rem;
  --albatross: 80rem;
}

/*------------------*/
//  #BREAKPOINTS
/*------------------*/

$swan: 20rem;
$vulture: 30rem;
$stork: 40rem;
$condor: 50rem;
$pelican: 60rem;
$albatross: 80rem;
