/*------------------*/
/*   #VARIABLES */
/*------------------*/

:root {
  /*------------------*/
  /*   #TYPOGRAPHY */
  /*------------------*/

  /*  FONTS */
  --body-font-family: "Open Sans", sans-serif;
  --major-font-family: "Roboto Slab", serif;

  /*  SIZING */
  /*  https://en.wikipedia.org/wiki/List_of_mountains_of_New_Zealand_by_height */
  --aoraki: 2.488rem;
  --tasman: 2.074rem;
  --dampier: 1.728rem;
  --vancouver: 1.44rem;
  --silberhorn: 1.2rem;
  --malte_brun: 1rem;
  --hicks: 0.833rem;

  /* WEIGHTS */
  /* https://en.wikipedia.org/wiki/Weight_class_(boxing) */
  --cruiserweight: 700;
  --welterweight: 400;
  --flyweight: 200;
  /* --atomweight: 100; */

  /*------------------------------------*/
  /*   #COLORS */
  /*------------------------------------*/

  --priest-pitch: hsl(196, 98%, 2%);
  --priest-dark: hsl(196, 86%, 16%);
  --priest-dull: hsl(196, 86%, 30%); /* secondary color becomes this */
  --priest-blue: hsl(196, 72%, 44%);
  --priest-mid: hsl(196, 58%, 58%);
  --priest-light: hsl(196, 58%, 72%);
  --priest-bright: hsl(196, 44%, 86%);
  --priest-brilliant: hsl(196, 44%, 98%);

  /* LUMINANCE */
  --pitch: 2%;
  --dark: 16%;
  --dull: 30%;
  --dim: 44%;
  --mid: 58%;
  --light: 72%;
  --bright: 86%;
  --brilliant: 98%;

  /* NEUTRALS */
  --lead: hsl(0, 0%, 2%);
  --tungsten: hsl(0, 0%, 16%);
  --iron: hsl(0, 0%, 30%);
  --steel: hsl(0, 0%, 44%);
  --aluminium: hsl(0, 0%, 58%);
  --magnesium: hsl(0, 0%, 72%);
  --silver: hsl(0, 0%, 86%);
  --mercury: hsl(0, 0%, 99%);

  /*  --pb_complementary: hsl(31, 79%, 62%); */

  /*------------------------------------*/
  /*   #SPACING */
  /*------------------------------------*/

  /*  TODO: theres a new variable for this */
  --block-spacing: 1.625rem; /*  26px baseline grid */
  /*  if this is top and bottom its 3.25rem // 52px */
  --inline-spacing: 0.8125rem; /*  half the baselines on the widths */

  /*------------------------------------*/
  /*   #TIMING */
  /*------------------------------------*/

  --general-timing: 0.5s ease;

  /*------------------*/
  /*   #SHADOWS */
  /*------------------*/

  --mesosphere: 0 5px 12px hsla(0, 0%, 0%, 0.4),
    0 18px 32px hsla(0, 0%, 0%, 0.16);
  --stratosphere: 0 2px 3px hsla(0, 0%, 0%, 0.12),
    0 3px 6px hsla(0, 0%, 0%, 0.14);
  --troposphere: 0 2px 3px hsla(0, 0%, 0%, 0.12),
    0 3px 6px hsla(0, 0%, 0%, 0.14);

  /*------------------------------------*/
  /*   #LAYOUT */
  /*------------------------------------*/

  /*  BREAKPOINTS */
  --swan: 20rem;
  --vulture: 30rem;
  --stork: 40rem;
  --condor: 50rem;
  --pelican: 60rem;
  --albatross: 80rem;

  /*------------------*/
  /*   #CLIP PATHS */
  /*------------------*/

  --top-left-corner-clipper: polygon(0 2rem, 100% 0, 100% 100%, 0 100%);
  --vertical-clipper: polygon(0 2rem, 100% 0, 100% calc(100% - 2rem), 0 100%);
  --horizontal-clipper: polygon(2rem 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);

  /*------------------*/
  /*   #BORDER RADIUS */
  /*------------------*/
  /*  TODO: rename this */
  --roll: 0.25rem;

  /*------------------*/
  /*   #LAYERS */
  /*  https://en.wikipedia.org/wiki/Forest */
  /*------------------*/
  --emergent: 3;
  --canopy: 2;
  --understory: 1;
  --floor: 0;
  --root: -1;
}
