/*------------------*/
//  # VISIBILITY
/*------------------*/

.hide-for-large {
  @media (min-width: $albatross) {
    display: none !important; // does this need important?
  }
}

.show-for-large {
  display: none;
  @media (min-width: $albatross) {
    display: block; // not sure if this is exactly right
  }
}
