.stories-button {
  background: var(--priest-dull);
  padding: 1rem;
  /* deg, rad, grad, turn */
  transform: skew(-5deg); /* this also rotates the text */
  border-radius: 0;
  font-style: italic;
  margin-inline-end: 0.5rem;
}

.stories-button:hover,
.stories-button_hover {
  box-shadow: var(--troposphere);
}

.stories-hr {
  /* deg, rad, grad, turn */
  transform: skew(0, -1deg);
  
}

.stories-button_2 {
  display: grid;
  
  /* dont use these it breaks safari */
  /* @supports (width: fit-content) {
    width: fit-content;
  }

  @supports (width: -moz-fit-content) {
    width: -moz-fit-content;
  } */

  /* yes this works on firefox */
  width: fit-content;

  text-decoration: none; /* reset */

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  button {
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
  }

  .background {
    transition: var(--general-timing);
    background: var(--priest-dull);
    padding-block: 1rem;
    /* deg, rad, grad, turn */
    transform: skew(-10deg); /* match robotto italic */
    border-radius: 0;
    font-style: italic;
    margin-inline-end: 0.5rem;
  }

  .word {
    z-index: var(--understory);
    font-family: var(--body-font-family);
    font-style: italic;
    color: var(--mercury);
    font-size: var(--silberhorn);
    padding-block: 1rem;
    padding-inline: var(--inline-spacing);
    padding-inline-end: calc(var(--inline-spacing) * 2); /* weird fix */
  }
}

.stories-button_2:hover .background {
  background: var(--priest-dark);
  box-shadow: var(--troposphere);
}
